In [2]:
from os import getcwd, path
import pandas as pd

In [3]:
url = 'https://raw.githubusercontent.com/gcyuan/SCUBA/master/sample_data/guo2010/guo2010Data.txt'
df = pd.read_csv(url, delimiter='\t')

In [4]:
df.head()

,Cell ID,1C 1,1C 2,1C 3,1C 4,1C 5,1C 6,1C 7,1C 8,1C 9,...,64C 7.5,64C 7.6,64C 7.7,64C 7.8,64C 7.9,64C 7.10,64C 7.11,64C 7.12,64C 7.13,64C 7.14
0,Stage,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00
1,Actb,14.01,13.68,13.42,13.69,13.47,12.86,12.95,12.77,13.29,...,14.86,14.77,15.04,15.80,14.81,13.32,12.60,12.75,13.66,13.78
2,Ahcy,19.28,18.56,18.19,18.59,18.60,17.37,17.37,18.40,18.26,...,22.20,21.21,21.67,22.12,21.93,23.22,23.35,22.73,25.26,25.46
3,Aqp3,23.89,28.00,26.18,28.00,24.20,25.53,23.93,23.68,28.00,...,28.00,28.00,28.00,21.75,21.20,19.76,18.01,20.27,20.39,20.79
4,Atp12a,28.00,28.00,28.00,28.00,28.00,28.00,28.00,28.00,28.00,...,28.00,28.00,28.00,28.00,28.00,22.13,21.64,28.00,22.19,23.12

In [6]:
df.to_csv(path.join(getcwd(), 'super_duper_data.txt'), sep='\t', index=False)

In [8]:
df.shape

(49, 439)